# The directory Mix will write compiled artifacts to.


# If you run "mix test --cover", coverage assets end up here.


# The directory Mix downloads your dependencies sources to.


# Where 3rd-party dependencies like ExDoc output generated docs.


# Ignore .fetch files in case you like to edit your project deps locally.


# If the VM crashes, it generates a dump, let's ignore it too.


# Also ignore archive artifacts (built via "mix archive.build").


# Ignore package tarball (built via "mix hex.build").


# Ignore assets that are produced by build tools.


# Ignore digested assets cache.


# In case you use Node.js/npm, you want to ignore these.


