<article class="column">
    <h2>
    
      <li>
        <span><%= link "Restaurants", to: Routes.restaurant_path(@conn, :index) %></span>
      </li>
      
    </h2>
    
  </article>

<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Melp" %></h1>
  <p>Find your Restaurant</p>
</section>
